configuration {modi: "run";
font: "iosevka medium italic 12";
show-icons: true;
lines: 4;
}

@theme "~/.cache/wal/colors-rofi-dark.rasi"

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
