configuration {modi: "run";
font: "iosevka medium italic 12";
show-icons: true;
lines: 4;
}

@import "~/.config/rofi/themes/run.rasi"

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
